p {
  font-family: Lato;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

input[type="button"] {
  width: 50%;
  padding: 5px;
  margin-bottom: 2px;
  box-sizing: border-box;
  border: solid 1px black;
  border-radius: 2px;
  font-family: "Lato";
  font-size: 16px;
}

input[type="button"]:focus {
  outline: none;
  box-shadow: none;
}

.default {
  background-color: #15db1f;
  cursor: pointer;
}

.disable {
  background-color: #8a8a8a;
  cursor: not-allowed;
}

.pause {
  background-color: #f8f411f8;
  cursor: pointer;
}

.reset {
  background-color: #f71d00;
  cursor: pointer;
}
