<input
  id="starter"
  type="button"
  (mouseup)="handleStarter()"
  [ngClass]="starterStopper?.value ? pauser?.value ? 'default' : 'pause' : 'default'"
  [value]="starterStopper?.value ? pauser?.value ? 'Resume' : 'Pause' : 'Start'"
/>

<input
  id="lapper"
  type="button"
  [disabled]="!starterStopper?.value"
  (mouseup)="handleLapper()"
  [ngClass]="pauser?.value ? 'reset' : starterStopper?.value ? 'default' : 'disable'"
  [value]="pauser?.value ? 'Reset' : 'Lap'"
/>

<p>Stopwatch: {{ stopWatch | async }}</p>

<ng-container *ngIf="laps.length">
	<p *ngFor="let lap of laps; let i=index">
		{{ (i+1)+'.'+' '+lap }}<br>
  </p>
</ng-container>