<input
  id="starter"
  type="button"
  (mouseup)="handleStarter()"
  [ngClass]="starterStopper?.value ? pauser?.value ? 'default' : 'pause' : 'default'"
  [value]="starterStopper?.value ? pauser?.value ? 'Resume' : 'Pause' : 'Start'"
/>

<input
  id="lapper"
  type="button"
  [disabled]="!starterStopper?.value"
  (mouseup)="handleLapper()"
  [ngClass]="pauser?.value ? 'reset' : 'default'"
  [value]="pauser?.value ? 'Reset' : 'Lap'"
/>
<br>

Stopwatch: {{ stopWatch | async }}
<br>
<ng-container *ngIf="laps.length">
	<span *ngFor="let lap of laps; let i=index">
    {{ (i+1)+'.'+' '+lap }}<br>
  </span>
</ng-container>